ion-content{
    --background: url(../../assets/welcome.jpg) center center / cover;
    ion-title{
        text-align: center;
        color: #fff;
        font-size: 28px;
        top: 50%;
        height: calc(-50%);
        position: relative;
    }
}