<app-header></app-header>
<ion-content [fullscreen]="true">

  <ion-title class="ion-margin-top" size="large">All In One</ion-title>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/database" color="primary">Database</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/currency" color="secondary">Currency</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/appel" color="success">Appel</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/admob" color="medium">AdMob</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/camera" color="tertiary">Camera</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/qrcode" color="warning">Qr Code</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>